button,
.button {
  display: block;
  padding: 0.75em 1em;
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
  background: url('../img/background-button.png') repeat;
  box-shadow: 0px 3px 0px 0px color(metallic-bronze);
  &:active {
    padding-top: calc(0.75em + 1px);
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px color(metallic-bronze);
  }
}
