.cake-gallery {
  @extend %cf;
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.cake-gallery figure {
  @include respond-above(medium) {
   @include span(1 of 2);
  }
  margin-bottom: rhythm(1);
  position: relative;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  &:nth-child(2n) {
    @include last;
  }
  &:last-child {
    @include span(1 of 1);
  }
}

.cake-gallery figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.cake-gallery figure figcaption {
  padding: 2em;
  color: #fff;
  backface-visibility: hidden;
}

.cake-gallery figure figcaption::before,
.cake-gallery figure figcaption::after {
  pointer-events: none;
}

.cake-gallery figure figcaption,
.cake-gallery figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cake-gallery figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.cake-gallery figure h3,
.cake-gallery figure p {
  margin: 0;
}

figure.effect-lily img {
  max-width: none;
  width: calc(100% + 50px);
  opacity: 0.7;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 55%;
}

figure.effect-lily h2,
figure.effect-lily p {
  transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: rgba(255,255,255,0.8);
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
  transition-delay: 0.05s;
  transition-duration: 0.35s;
}
