.cimb {
  content: "";
  display: inline-block;
  height: 20px;
  width: 135px;
  background: url('../img/cimb.svg');
  background-size: cover;
}

.baker {
  @include respond-above(small) {
    max-width: 320px;
    float: left;
    margin-right: 1em;
  }
}
