.html {
  background: url('../img/background-outer.png') repeat;
}

.page {
  padding-top: 46px;
  @include respond-above(small) {
    padding-top: 0;
  }
}

.body-content {
  background: url('../img/background-inner.png') repeat;
  margin-top: 30px;
  .not-front & {
    padding: rhythm(1);
  }
  @include respond-above(large) {
    border-radius: 10px 10px 0 0;
  }
}

img {
  width: 100%;
}
