table {
  margin: 0 0 1.5em 0;
}
th,
td {
  padding: .25em .5em;
}

.prices {
  @include respond-above(large) {
    @include span(1 of 3);
    &.last {
      @include last;
    }
  }
}

.cake-sizes {
  min-width: 320px;
  width: 100%;
  td {
    &:first-child {
      padding-top: .5em;
      &:before {
        content: attr(data-th);
      }
    }
    &:last-child {
      padding-bottom: .5em;
    }
    &:before {
      content: attr(data-th)": ";
      font-weight: bold;
      display: inline-block;
      width: 25%;
      @include respond-above(small) {
        display: none;
      }
    }
  }
}
   
.cake-sizes td {
  text-align: left;
  display: block;
  @include respond-above(small) {
    display: table-cell;
    padding: .25em .5em;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.cake-sizes th {
  text-align: left;
  display: none;
  @include respond-above(small) {
    display: table-cell;
    padding: .25em .5em;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
