.node-webform {
  max-width: 705px;
  input {
    max-width: 100%;
    @include respond-above(small) {
      max-width: 435px;
    }
  }
}

.contact-options {
  text-align: center;
  margin-left: 0;
  li {
    display: inline-block;
    max-width: 75px;
    cursor: pointer;
    line-height: 1.2em;
    @include respond-above(small) {
      max-width: 100%;
    }
    &:before {
      @extend %center;
      content: "";
      display: block;
      width: 75px;
      height: 75px;
      margin-bottom: 0.5em;
      @include respond-above(small) {
        width: 100px;
        height: 100px;
      }
      @include respond-above(medium) {
        width: 150px;
        height: 150px;
      }
    }
  }
  .order {
    float: left;
  }
  .hello {
    float: right;
  }
  .order:before {
    background: url('../img/cake.png');
    background-size: cover;
  }
  .inquiry:before {
    background: url('../img/question.png');
    background-size: cover;
  }
  .hello:before {
    background: url('../img/hello.png');
    background-size: cover;
  }
}

.form-managed-file img {
  width: auto;
}

// Bug fix for select or other duplicate header
label[for="edit-submitted-size-of-cake"] {
  display: none;
}
